@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background: linear-gradient(#040e17, #2a6bbf);
    overflow-x: hidden;
}

header{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .Logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.acticve{
    background: #fff;
    color: #2b1055;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #020609, transparent);
    z-index: 1000;
}

section img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section image#mooon{
    mix-blend-mode: screen;
}

section image#front_image{
    z-index: 10;
}

#text{
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}

#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}

.sec{
    position: relative;
    padding: 100px;
    background: #020609;
}

.sec h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}

.sec p{
    font-size: 1.2em;
    color: #fff;
}

.thre{
    position: relative;
    padding: 100px;
    background: #020609;
    text-align: right;

}

.thre h2{
    font-size: 3.5em;
    color: #fff;
    margin-bottom: 10px;

}

.thre p{
    font-size: 1.2em;
    color: #fff;
}

.footer{
    padding: 40px 0;
    background-color: #020609;
    color: #fff;
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: #2a6bbf;
}

.footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.footer .social a:hover{
    opacity: 0.9;
}

.footer ul{
    margin-top:0;
    padding: 0;
    list-style: none;
    font-weight: 18px;
    line-height: 1.6;
    margin: 0 auto;
    text-align: center;
}

.footer ul a{
    text-decoration: none;
    color: inherit;
    text-align: center;
    margin: 0 auto;
    
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
    
}

.footer ul li:hover{
    opacity: 1;
}

.footer p{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}

:root{
    --white: 255, 255, 255;
    --red: 229, 57, 53;
    --orange: 251, 140, 0;
    --yellow: 253, 216, 53;
    --green: 67, 160, 71;
    --blue: 30, 136, 229;
    --indigo: 57, 73, 171;
    --violet: 156, 39, 176;

    --theme-color:var(--white);
}

.changettext{
    color: rgba(var(--theme-color), 0.1);
}