@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    
}

body{
    min-height: 100vh;
    background: linear-gradient(#040e17, #2a6bbf);
    overflow-x: hidden;
    max-width: 70%;
}

header{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .Logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.acticve{
    background: #fff;
    color: #2b1055;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #020609, transparent);
    z-index: 1000;
}

section img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section image#mooon{
    mix-blend-mode: screen;
}

section image#front_image{
    z-index: 10;
}

#text{
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}

#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}

.sec{
    position: relative;
    padding: 100px;
    background: #020609;
}

.sec h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
    height: 100px;
}

.sec p{
    font-size: 1.2em;
    color: #fff;
}

.thre{
    position: relative;
    padding: 100px;
    background: #020609;
    text-align: right;

}

.thre h2{
    font-size: 3.5em;
    color: #fff;
    margin-bottom: 10px;

}

.thre p{
    font-size: 1.2em;
    color: #fff;
}

.footer{
    padding: 40px 0;
    background-color: #020609;
    color: #fff;
    z-index: 1;
    
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: #2a6bbf;
}

.footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #205291;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.footer .social a:hover{
    opacity: 0.9;
}

.footer ul{
    margin-top:0;
    padding: 0;
    list-style: none;
    font-weight: 18px;
    line-height: 1.6;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
}

.footer ul a{
    text-decoration: none;
    color: inherit;
    text-align: center;
    margin: 0 auto;
    
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
    
}

.footer ul li:hover{
    opacity: 1;
}

.footer p{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}

:root{
    --white: 255, 255, 255;
    --red: 229, 57, 53;
    --orange: 251, 140, 0;
    --yellow: 253, 216, 53;
    --green: 67, 160, 71;
    --blue: 30, 136, 229;
    --indigo: 57, 73, 171;
    --violet: 156, 39, 176;

    --theme-color:var(--white);
}

.changettext{
    color: rgba(var(--theme-color), 0.1);
}

.testing{
    position: relative;
    padding: 100px;
    background: #020609;
    text-align: center;
}

.rad-label {
    display: inline-block;
    align-items: center;
  
    border-radius: 100px;
    padding: 14px 16px;
    margin: 10px 0;
  
    cursor: pointer;
    transition: .3s;
  }
  
  .rad-label:hover,
  .rad-label:focus-within {
    background: hsla(0, 0%, 80%, .14);
  }
  
  .rad-input {
    position: absolute; 
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: 3;
  }
  
  .rad-design {
    width: 22px;
    height: 22px;
    border-radius: 100px;
  
    background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%));
    position: relative;
  }
  
  .rad-design::before {
    content: '';
  
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
  
    background: hsl(0, 0%, 90%);
    transform: scale(1.1);
    transition: .3s;
  }
  
  .rad-input:checked+.rad-design::before {
    transform: scale(0);
  }
  
  .rad-text {
    color: hsl(0, 0%, 60%);
    margin-left: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
  
    transition: .3s;
  }
  
  .rad-input:checked~.rad-text {
    color: hsl(0, 0%, 40%);
  }

.theme-picker-section {
    margin: 0 auto;
    top: 150px;
}
  .card {
    width: 300px;
    height:300px;
    position: relative;
    perspective: 1000px;
  }
  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    backface-visibility: hidden;
    border-radius: 10px;
  }
  .front {
    background-color: #205291;
  }
  .back {
    background-color: #BDBDBD;
    transform: rotateY(180deg);
  }
  .card:hover .front {transform: rotateY(180deg);}
  .card:hover .back {transform: rotateY(360deg);}

.commanda{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #020609;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frea{
    position: relative;
    padding: 200px;
    background: #020609;
    text-align: right;
    text-align: center;
    color: #fff;
}

.frea h2{
    font-size: 3.5em;
    color: #fff;
    bottom: 100px;
    height: 200px;
}

.frea p{
    color: #fff;
    bottom: 100px;
    height: 100px;
}

.wrap1{
    left: 100px;
    flex: 2;
}
.wrap2{
    left: -100px;
}

.frea img{
    width: 300px;
    height: 300px;
}



@keyframes wave {
    from, to {
      transform: translate(-50%, 0%);
    }
    
    50% {
      transform: translate(-50%, -20%);
    }
  }

  #bubble-wrapper {
    height: 100%;
    width: 100%;
    
    position: fixed;
    bottom: 0px;
    
    overflow: hidden;
    pointer-events: none;
    z-index: 4;
  }
  
  .bubble {
    height: max(300px, 30vw);
    width: max(300px, 30vw);
    
    background-color: rgb(33, 150, 243);  
    border-radius: 100%;
    
    position: absolute;
    left: 50%;
    top: 100%;
    
    animation: wave 2s ease-in-out infinite;
  }
  
  @media(prefers-reduced-motion) {
    .bubble {
      animation: none;
      display: none;
    }
  }
.sec h1{
    height: 100px;
}
